{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>INEFFABLE EDUCATION</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <!-- navigation starts here -->
    <div id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <div>
                  <a href="#"><img src="/static/img/logo.png" height="65px"  alt=""></a>                  
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'course' %}">Courses</a></li>
                    <li><a href="#placement">Placement</a></li>
                    <li><a href="{% url 'notice' %}">Notice Board</a></li> 
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>                            
            
                </ul>
                </div>
            </div>
        </div>      
    </div>
    <!-- navigation ends here -->
    <!-- header starts here -->
    <div id="header" class="header" style="background-image:url(/static/img/ab.jpg);height: 78vh;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 w3-container w3-center w3-animate-left">
                  
                  <h1 style="font-family: Garamond, serif;margin-top: 100px;">WELCOME TO INEFFABLE EDUCATION</h1>
                  <p style="text-align: center;"><i class="fa fa-spinner w3-spin" style="font-size:64px;
                              color:#ff5f0f;"></i><i class="fa fa-spinner w3-spin" style="font-size:64px;
                              color:white;"></i><i class="fa fa-spinner w3-spin" style="font-size:64px;
                              color:#458B00;"></i></p>
                              <div>
                                  <img src="/static/img/iso.jpeg" alt="ISO Mark" srcset="" style="padding: 10px 20px; height: 120px;">
                              </div>
                  <div class="flex-container w3-container w3-center w3-animate-zoom">
                    <div class="btn-grp">
                        <a href="{% url 'studentloginpage' %}"><button type="button" id="aa" class="flex-1 btn btn-lg btn-primary" name="btnenq">Student Login</button></a>
                        <a href="{% url 'search_center' %}"><button type="button" id="cc" class="flex-3 btn btn-lg btn btn-primary" name="btncenter">Search Centre</button></a>
                        <a href="{% url 'center_login' %}" ><button type="button" class="flex-4 btn btn-lg btn-warning" name="btncenlog">Center Login</a>
                        <a href="{% url 'adminlogin' %}"><button type="button" id="bb" class="flex-2 btn btn-lg btn-primary" name="btnlog">Admin Login</button></a>
                    </div>
                      
                  </div>
                    <marquee style="color: white; font-size: 25px;" behavior="" onmouseover="stop()" onmouseout="start()" direction="left"
                        scrollamount="8">INEFFABLE GROUP OF INSTITUTION is an autonomous Computer & Skill Education Institute Registered under The Society & Public Trust Act & An ISO 9001:2008 Certified Computer Educational Organization Run By- Ineffable Group Of Institution Trust.
                    </marquee>
                </div>             
            </div>
        </div>
    </div>
    <!-- header ends here -->
    <!-- main section starts here -->
    <div id="main" class="main">
        <div class="container">
            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;letter-spacing: 3px;"><u>Our Courses</u></h1>
            <br>
            <ul class="list-group" style="width:100%;color:grey;">
                <li class="list-group-item" style="text-align: center;background-color: rgb(179, 134, 79);color:white">Software Courses</li>
                <li class="list-group-item list-group-item-success">PG Diploma in Computer Application (PGDCA)  Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Diploma in Computer Instructor Training(DCIT) Duration -1 year</li>
                <li class="list-group-item list-group-item-success">Advance Diploma in Computer Programming (ADCP) Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Honours Diploma in Computer Application (HDCA) Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Diploma In computer office Management & publishing (DCOMP) Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Advance Diploma in Computer Application (ADCA) Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Advance Diploma in Computer financial Accounting (ADCFA) Duration -12 Months</li>
                <li class="list-group-item list-group-item-success">Advance Certificate in Computer Application(ACCA) Duration  12 Months</li>
                <li class="list-group-item list-group-item-success">Diploma in Computer financia Accunting(DCFA) Duration -6 Months</li>
                <li class="list-group-item list-group-item-success">Diploma in Desktop Publishing (DDTP) Duration -6 Months</li>
                <li class="list-group-item list-group-item-success">Diploma in Web Designing(DWD) Duration -6 Months</li>
                <li class="list-group-item list-group-item-success">Diploma in Computer Application(DCA) Duration -6 Months</li>
                <li class="list-group-item list-group-item-success">certificate in BAsic computer (CBC) Duration -3 Months</li>
                <li class="list-group-item list-group-item-success">Certificate in computer Financial Accounting(CCFA) Duration -3 Months</li>
                
                <li  style="text-align: center;background-color: rgb(179, 134, 79);color:white" class="list-group-item list-group-item-warning">
                    Short Term Computer Software Skill Courses</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer English Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Hindi Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Punjabi Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Marathi Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Bengali Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Sanskrit Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Kannada Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Telugu Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Tamil Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Oriya Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Computer Malayalam Typing - Duration -1/2/3/6 Months</li>
                    <li class="list-group-item list-group-item-success">Certificate in Internet Application - Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in Web designing - Duration -2/3 month</li>
                    <li class="list-group-item list-group-item-success">Certificate in Basic Computer - Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in CompuFunda for kids - Duration -1/2  Months </li>
                    <li class="list-group-item list-group-item-success">Certificate in DTP(Desktop Publishing) - Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in CAD(Computer Aided Designing) Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in C or Java Programming Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in Tally Duration -1  Months or 45 days</li>
                    <li class="list-group-item list-group-item-success">Certificate in Basic Computer Programming Duration -1  Months or 45 days</li>
                    <li  style="text-align: center;background-color: rgb(179, 134, 79);color:white" class="list-group-item list-group-item-warning">
                        Hardware Courses</li>
                    <li class="list-group-item list-group-item-primary">Diploma in Computer Software & Hardware (DCSH) Duration -12 Months</li>
                    <li class="list-group-item list-group-item-primary">Advance Diploma in Computer  Hardware (ADCSH) Duration - 12 Months</li>
                    <li class="list-group-item list-group-item-primary">Diploma in Computer Hardware - Duration - 6 Months</li>
                    <li class="list-group-item list-group-item-primary">Diploma in Computer Network  Hardware(DCH) - Duration -6 Months</li>
                    <li class="list-group-item list-group-item-primary">Certificate Computer Hardware & peripherals(CCHP) - Duration -6 Months</li>
                    <li class="list-group-item list-group-item-primary">Certificate in PC assembling & maintainance(CPCAM) - Duration -6 Months</li>
                    <li  style="text-align: center;background-color: rgb(179, 134, 79);color:white" class="list-group-item list-group-item-Secondary">
                           Short Term Computer Hardware Skill Courses</li>
                    <li class="list-group-item list-group-item-primary">Certificate in Computer Software & hardware skills  Duration -1 Months or 45 days</li>
                    <li class="list-group-item list-group-item-primary">Certificate in CPU repairing  Duration -1 Months or 45 days or 3 month</li>
                    <li class="list-group-item list-group-item-primary">Certificate in Monitor Repairing  Duration -1 Months or 45 days or 3month</li>
                    <li class="list-group-item list-group-item-primary">Certificate in UPS repairing   Duration -1 Months or 45 days 3month</li>
                    <li class="list-group-item list-group-item-primary">Certificate in Printer Repairing  - Duration -1/2/3 Months </li>
                    <li class="list-group-item list-group-item-primary">Certificate in Software Installation - Duration -1/2/3 Months</li>
                   <li class="list-group-item list-group-item-primary">Certificate in PC assesmbling - Duration -1/2/3 Months</li>
                   <li class="list-group-item list-group-item-primary">Certificate in Mobile Repairing - Duration -1/2/3 Months</li>
                   <li class="list-group-item list-group-item-primary">Certificate in Multimedia - Duration -1/2/3 Months</li>
                <!-- <li class="list-group-item list-group-item-info">A simple info list group item</li>
                <li class="list-group-item list-group-item-light">A simple light list group item</li>
                <li class="list-group-item list-group-item-dark">A simple dark list group item</li>  -->
              </ul>
  
            <!-- <div class="col-lg-10 col-md-10 col-sm-10" id="left-side">
                <h1 style="font-family: Copperplate, Papyrus, fantasy;"><u>ABOUT US</u></h1>
                <p>The term “INEFFABLE” means some thing this is beyond description, indescribable, or can't be expressed in words. In the context of training, Ineffable Education mean an educational organization that offers a completely unique, brilliant, and indescribable educational revel in that goes past conventional training. Overall, the time period “INEFFABLE EDUCATION” should be used to explain an academic organization that offers a completely unique, high-quality, and indescribable educational experience that is going past conventional schooling and focuses on personal increase, sensible studying stories, and growing talents that are in high call for in the process marketplace.</p>
                <p> The Ineffable Group of Institution is a reputed instructional business enterprise that provides exceptional schooling to students in numerous fields of take a look at. The Ineffable Group of Institution offers diploma and certificates guides in diverse vocational fields, together with computer software program / hardware, technical / non-technical, vocational and lots of greater. The Ineffable Group of Institutions has a crew of fantastically qualified and experienced college contributors who are dedicated to offering their students with the nice viable schooling. IGI is an not for earnings corporation, working at the country wide stage , engaged in empowering the negative via ability development programs.</p>
                <p> It is driven by the robust belief that schooling and schooling in market orientated competencies and trades can remarkably bridge the space among call for and s upply of employable adolescents and thereby trade lives of many who are in want of this modification. Our venture studied their topics properly and decided to offer better better schooling in vocational courses.</p>
                <p>Overall, the Ineffable Group of Institution is a well-respected educational organization that is committed to providing its  students with a top-quality education,while also promoting research,innovation,and  social responsibility.</p>
                <p>Our mission studied their themes properly and decided to provide better higher education in I.T & Skill  making a foundation  of " Ineffable Group Of Institution ". This mission is run by the " Ineffable Group Of Institution " all over India.</p>                 
                  
            </div>   -->
            
        </div>
    </div>
    <!-- -start
        
    <div id="main" class="main">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3" id="left-side">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="left-side" style="background-image:url(/static/img/cd.avif);;">
                <h1 style="font-family: Copperplate, Papyrus, fantasy;"><u>CONTACT US</u></h1>
                <form class="form">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" class="form-control" id="" placeholder="Enter Your Number">
                    </div>
                    <div class="form-group">
                      <label for="">Email address</label>
                      <input type="email" class="form-control" id="" placeholder="name@gmail.com">
                    </div>
                    <div class="form-group">
                      <label for="">Select Course</label>
                      <select class="form-control" id="">
                        <option value="none" selected disabled hidden>Courses</option>
                        <option>Python</option>
                        <option>Java</option>
                        <option>Machine Learning</option>
                        <option>Full Stack</option>
                        <option>C#</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Message</label>
                      <textarea class="form-control" id="" rows="3" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-lg">Submit</button>
                    </div>
                  </form>
            </div>  
            
        </div>
    </div>
     -->
    <!-- <div id="main" class="main">
        <div class="container">
            <div class="col-lg-10 col-md-10 col-sm-10" id="left-side">
                <h1 style="font-family: Copperplate, Papyrus, fantasy;color: black; "><u>INTRODUCTION</u></h1>
                <p>Greetings and a warm welcome to the official website of Ineffable Group Of Institution! In today's world, computer literacy and technological savviness have become crucial components of our daily lives. Understanding this need of the hour, IGI has taken up the task of providing computer training programs across India, with an aim to promote computer education for all. We encourage every Indian to join us in this golden mission of achieving computer and skill literacy.
                    </p>

                <p>As an Indian non-profit organization working at a national level, IGI is passionate about empowering the underprivileged through computer education and skill development programs. Through our efforts, we firmly believe that education in market-oriented skills can bridge the gap between employment demand and supply, thereby changing lives.
                </p>
                <p>
                    Ineffable Group Of Institution is an autonomous institute specializing in Computer & Skill Education. Committed to excellence, we are registered under The Society & Public Trust Act and certified as an ISO 9001:2015 Computer Educational Organization run by Ineffable Group Of Institution Trust.
                </p>
                <p>
                    Our prime objective is to spread computer & skills literacy throughout India, ensuring that students are self-motivated learners who continuously improve their knowledge base. We serve our purpose by providing affordable technical & skill education for every segment of society - urban or rural - thus contributing towards India's IT and SKILL revolution which is a dream for many.
                    
                </p>
                <p>
                    We realized that some big institutions charged exorbitant fees to provide higher technical education programs lasting over a year. This rendered them out of reach for many middle-class families. Taking this into account, we formulated our mission plan with utmost care by creating "Ineffable Group Of Institution." As per this mission plan set forth by us at Ineffable Group Of Institution all over India; we offer better quality technical education in computers & Skills at affordable prices.
                </p>
                <p>
                    We rely on transitional phrasing throughout our content to move seamlessly from one idea to another without losing reader engagement. To make this writing sound more engaging and natural, we also employ contractions like "don't" and "can't", interjections like "Yikes!" and "Gee!", idioms, and colloquialisms. Our goal is to maintain an impressive level of complexity in language while staying true to a human writer's style.
                </p>
            </div>  
            
        </div>
    </div> -->
    <div style="margin: 5px 20px 5px 20px;">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.5197895408255!2d84.0146957909614!3d25.654058703646374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399273c3b74fb249%3A0x5c9b3825cb403881!2sINEFFABLE%20GROUP%20OF%20INSTITUTION!5e0!3m2!1sen!2sin!4v1685902052203!5m2!1sen!2sin" width=1500px" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>
    <!-- footer section starts here -->
    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4">
                    <h4><b>Contact Us</b></h4>
                    <!-- <br> -->
                    <p><i class="fa-solid fa-address-book"></i>  Laxmanpur,P.O-Surahi, Dist-Ballia,<br>  State-Uttar Pradesh<br>Pin-277504</p>
                    <p><i class="fas fa-envelope"></i>  ineffableedu@gmail.com<br>help@ineffableedu.in</p>
                    <p><i class="fas fa-phone"></i>  7897993672</p>
                </div>
                <div class="col-lg-4  col-md-4">
                    <h4><b>Useful Links</b></h4>
                    <!-- <br> -->
                    <p><a href="">Home</a></p>
                    <p><a href="">About Us</a></p>
                    <p><a href="#courses">Courses</a></p>
                    <p><a href="#placement">Placement</a></p>
                    <p><a href="">Notice Board</a></p>
                    <p><a href="">Contact Us</a></p>
                </div>
                <div class="col-lg-4  col-md-4" id="footer-icons">
                    <h4><b>Connect With Us</b></h4>
                    <!-- <br> -->
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    </form>

    <!--end start-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>